body
{
    width: 100%;
    height: 100%;
}

/*
* Logo
*/
.logo
{
    width: 258px;
    height: 83px;
    margin-left: 8.125rem;
    margin-top: 1.875rem;
}
/*
**
**
**
*/
.container {
    position: absolute;
    top:22%;
    left:10%;
    display: flex;
    flex-direction: column;
}

h2 {
    display: flex;
    justify-content: center;
	font-size: 50px;
	color:#52ABFD;
    margin-block-end: 55px;
    margin-block-start: 30px;
}

.illustration {
    width: 40%;
    margin-left: auto;
    margin-right: auto
}


/*
* Button
*/
/* a
{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}

.btn1 a 
{
    padding: 1rem 0 0 3.9375rem;
}

.btn2 a 
{
    padding: 1rem 0 0 3.125rem;
}

.btnwrap {
    position: absolute;
    top:100%;
    left:30%;
    display: flex;
    flex-direction: initial;
}

.btn1
{
    width: 13.25rem;
    height: 3.4375rem;
    background-color: #56ADFD;
    border-radius: 3px;
    border: none;
    font-size: 1.125rem;
    color: #ffffff;
    cursor: pointer;    
}

.btn2
{

    width: 13.25rem;
    height: 3.4375rem;
    margin-left: 3rem;
    background-color: #52ABFD;
    border-radius : 3px;
    border: none;
    font-size: 1.125rem;
    color: #ffffff;
    cursor: pointer;
}

.btn1:hover
{
    box-shadow: 0 2px 4px 0 rgba(86,173,253,10);
}
.btn2:hover
{
    box-shadow: 0 2px 4px 0 rgba(86,173,253,10);
} */


.button-4{
    position:relative;
    top: 80%;
    left: 20%;
    width:212px;
    height:56px;
    border-radius: 3px;
    border: solid 3px #56ADFD;
    background-color: #56ADFD;
    float:left;
    text-align:center;
    cursor:pointer;
    box-sizing:border-box;
    overflow:hidden;
}
.button-4 a{
    font-family:arial;
    font-size:16px;
    color:#fff;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.eff-4{
    width:212px;
    height:56px;
    left:220px;
    background:#fff;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-4:hover .eff-4{
    left:0;
}
.button-4:hover a{
    color: #56ADFD;
}
.button-5{
    position: absolute;
    top: 88.96%;
    left: 50%;
    width:212px;
    height:56px;
    border: solid 3px #56ADFD;
    border-radius: 3px;
    background-color: #56ADFD;
    float: right;
    text-align:center;
    cursor:pointer;
    box-sizing:border-box;
    overflow:hidden;
}
.button-5 a{
    font-family:arial;
    font-size:16px;
    color:#fff;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.eff-5{
    width:212px;
    height:56px;
    left:220px;
    background:#fff;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-5:hover .eff-5{
    left:0;
}
.button-5:hover a{
    color: #56ADFD;
}
