body {
    background-color: #EBEFF3;
}

.layers {
    position: relative;
    left: calc(130/1440*100%);
    display: flex;
    flex-direction: row; 
}

.layers>div {
    width: 280px;
    min-height: 100px;
    background-color: white;
    border-radius: 3px;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 rgba(86, 173, 253, 0.1);
}

.layers>div .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.layers>div .title h2 {
    margin: 20px;
}

.layers>div .title .move {
    background-color: #56ADFD;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 32.5px;
}

.layers>div .title .move::before {
    content: "";
    position: absolute;
    background-color: #56ADFD;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    right: 7.5px;
}

.layers>div .title .move::after {
    content: "";
    position: absolute;
    background-color: #56ADFD;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 7.5px;
}

.layers>div .itemList {
    margin: 14px 20px 20px 20px;
}