body {
    overflow: auto;
}
.container
{
    width: 100%;
}

/*
* Texte
*/
h1
{
    margin-top: 28%;
    width: 100%;
    text-align: center;
    color: #56ADFD;
    font-size: 50px;
}

/*
* Image
*/

.illustration
{
    position: absolute; 
    top: 13%;
    left: 32%;
    width: 35%;
    height: 55%;
}

.logo
{
    width: 258px;
    height: 83px;
    margin-left: 130px;
    margin-top: 30px;
}

/*
* Btn
*/
/* .Btn
{
    position: absolute;
    top: 80%;
    left: 43%;
    width: 212px;
    height: 56px;
    background-color: #56ADFD;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;    
}
.a
{
    position: absolute;
    top: 80%;
    left: 43%;
    width: 212px;
    height: 56px;
    background-color: #56ADFD;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;    
}

.a:hover
{
    box-shadow: 0 2px 4px 0 rgba(86,173,253,10);
} */


@font-face 
{
    font-family: "SourceSansPro";
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype")
}


/* NOUVEAU BUTTON */
.button-4{
    position: absolute;
    top: 80%;
    left: 40%;
    width:212px;
    height:56px;
    border: solid 3px #56ADFD;
    border-radius: 3px;
    background-color: #56ADFD;
    float:left;
    text-align:center;
    cursor:pointer;
    position:relative;
    box-sizing:border-box;
    overflow:hidden;
    margin:0 0 40px 50px;
}
.button-4 a{
    font-family:arial;
    font-size:16px;
    color:#fff;
    text-decoration:none;
    line-height:50px;
    transition:all .5s ease;
    z-index:2;
    position:relative;
}
.eff-4{
    width:212px;
    height:56px;
    left:220px;
    background:#fff;
    position:absolute;
    transition:all .5s ease;
    z-index:1;
}
.button-4:hover .eff-4{
    left:0;
}
.button-4:hover a{
    color: #56ADFD;
}
